# User-specified ignore rules
.env
.env.*
!.env.example
!.env.docker.local.example
docker-compose.yml
bin/
obj/
node_modules/
dist/
build/
.DS_Store
*.log
coverage/
.idea/
.vscode/
uploads/
tmp/
*.user
*.suo
*.sln.docstate
